<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="pi" value="3.1415926535897931"/>


    <xacro:macro name="camera_sensor"
                 params="robot_namespace  camera_suffix parent_link
                 xyz rpy  horizontal_fov
                 image_width image_height image_format max_range visualize type mass">
        <link name="${robot_namespace}/camera_${camera_suffix}_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.03 0.03"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.03 0.03"/>
                </geometry>
            </visual>
            <inertial>
                <mass value="${mass}"/>
                <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
                <inertia ixx="0.0000001" ixy="0" ixz="0" iyy="0.0000001" iyz="0" izz="0.0000001"/>
            </inertial>
        </link>
        <joint name="${robot_namespace}/gimbal_joint_pitch" type="${type}">
            <axis xyz="0 1 0"/>
            <limit effort="10" velocity="1.0" lower="-1.57" upper="1.57"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <parent link="${parent_link}"/>
            <child link="${robot_namespace}/camera_${camera_suffix}_link"/>
        </joint>

        <gazebo reference="${robot_namespace}/camera_${camera_suffix}_link">
            <sensor type="camera" name="${robot_namespace}_camera_${camera_suffix}">
                <update_rate>30.0</update_rate>
                <visualize>${visualize}</visualize>

                <camera name="${camera_suffix}">
                    <horizontal_fov>${horizontal_fov}</horizontal_fov>

                    <image>
                        <width>${image_width}</width>
                        <height>${image_height}</height>
                        <format>${image_format}</format>
                    </image>

                    <clip>
                        <near>0.02</near>
                        <far>${max_range}</far>
                    </clip>

                    <noise>
                        <type>gaussian</type>
                        <mean>0.00</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>

                <plugin name="${robot_namespace}_camera_${camera_suffix}_controller" filename = "libgazebo_ros_camera.so"><!--filename="libgazebo_ros_openni_kinect.so">-->
                    <robotNamespace>${robot_namespace}</robotNamespace>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>0.0</updateRate>

                    <cameraName>camera_${camera_suffix}</cameraName>

                    <jointName>${robot_namespace}/gimbal_joint_pitch</jointName>
                    <linkName>${robot_namespace}/camera_link</linkName>
                    <imageTopicName>image_raw</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                    <!--<depthImageTopicName>depth/disparity</depthImageTopicName>-->
                    <!--<depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>-->
                    <!--<pointCloudTopicName>depth/points</pointCloudTopicName>-->
                    <frameName>camera_${camera_suffix}_link</frameName>
                    <!--<pointCloudCutoff>0.5</pointCloudCutoff>-->
                    <!--<pointCloudCutoffMax>${max_range}</pointCloudCutoffMax>-->
                    <hackBaseline>0.0</hackBaseline>
                    <distortionK1>0.082318</distortionK1>
                    <distortionK2>-1.52317</distortionK2>
                    <distortionK3>16.3747</distortionK3>
                    <distortionT1>-0.000258164</distortionT1>
                    <distortionT2>0.00354797</distortionT2>
                </plugin>
            </sensor>
            <!--         ros_control plugin -->
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                <robotNamespace>/${robot_namespace}</robotNamespace>
                <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
                <legacyModeNS>true</legacyModeNS>
            </plugin>
        </gazebo>

        <transmission name="tran3">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${robot_namespace}/gimbal_joint_pitch">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor3">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>



    </xacro:macro>

</robot>